* {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-bottom: 5px solid rgb(58, 193, 247);
    height: auto;
    background-color: rgb(0, 110, 255);
    color: white;
    overflow: hidden
}
main{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 10px;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-top: 5px solid rgb(58, 193, 247);
    height: auto;
    background-color: rgb(0, 110, 255);
    color: white;
}
.button{
    text-align: center;
    font-size: 20px;
    height: 34px;
    color: white;
    float: left;
    padding: 5px;
    transition-property: background-color;
    transition-duration: 500ms;
}
.button:hover{
    background-color: rgb(0, 38, 255);
}